@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Kumbh Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh   ;


    background-color: rgb(33, 110, 33);
}
.sideTitle{
    position: absolute;
    top: 200px;
    right: 80vw;
    color: white;
}
.sideTitle h1{
    font-size: xx-large;
    
}
.gameBoard{
    background-color: gainsboro;

    height: 700px;
    width: 700px;

    border: 2px solid black;

    box-shadow: 0 0 30px black;


    display: grid;
    grid-template-rows: 150px ,1;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9" ;
}

.gridItem{
    border: 1px solid black;
}
#gridItem1{
grid-area: box1;
}
#gridItem2{
grid-area: box2;
}
#gridItem3{
grid-area: box3;
}
#gridItem4{
grid-area: box4;
}
#gridItem5{
grid-area: box5;
}
#gridItem6{
grid-area: box6;
}
#gridItem7{
grid-area: box7;
}
#gridItem8{
grid-area: box8;
}
#gridItem9{
grid-area: box9;
}

.gridItem:hover{
    background-color: blanchedalmond;
}

/* Buttons */
.gameControlls{
    margin: 15px;
}

.gameControlls button{
    margin: 10px;
    box-shadow: 0 0 15px black;
}


.controllBtn{
    width: 200px;
    height: 60px;

    border: none;

    border-radius: 10px;
}

#startBtn{
background-color: greenyellow;
}
#startBtn:hover{
    background-color: rgb(190, 252, 98);
}
#startBtn:active{
background-color: brown;
}

#resetBtn{
    background-color: lightsalmon;

}

.popUp{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    height: 300px;
    background-color: bisque;
    position: absolute;
}
.popUp input{
    border-radius: 5px;
    padding: 10px;
}

.radioBtns{
    display: flex;
    justify-content: space-between;
}